@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.body {
   background-color: black;
   height: 100vh;
   color: white;
   font-family: 'Poppins', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.glass-card {
   background: rgba(255, 255, 255, 0.2);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(255, 255, 255, 0.3);
   padding: 16px;
}

input{
   border: none;
   border-radius: 12px;
   padding: 0 16px;
   height: 40px;
   margin-bottom: 8px;
   width: 100%;
}

#btn{
   background-color: #34bdeb;
   color: white;
}